  .grandparent {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
      }
      .container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }

      .parent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 20px;
        gap: 20px;
        padding: 30px;
        overflow: auto;
        overflow-x: hidden;
      }

      .inputs{
            display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;

        gap: 5px;
      }
      .inputs button{
        height: 20px;
        width: 60px;
        border: none;
        border-radius: 20px;
        font-size: 13px;
        text-transform: capitalize;
        padding: 3px;
        cursor: pointer;
      }
       #btn{
        background-color: rgb(42, 205, 42);
      }

      #remove{
        background-color: rgb(220, 77, 77);
      }
      .inputs input {
        height: 20px;
        width: 200px;
        text-align: center;
        border-radius: 4px;
        font-size: 15px;
        text-transform: capitalize;
      }

      #lists{
        font-size: 30px;

      }
      #lists button{
        height: 20px;
        width: 30px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }